# MariaDB 10.4 [Stable] CentOS repository list - created 2020-07-27 07:52 UTC
# https://mariadb.org/download-test/
[mariadb]
name = MariaDB
baseurl  =  http://yum.mariadb.org/10.3/centos7-amd64 

module_hotfixes=1
gpgkey = https://yum.mariadb.org/RPM-GPG-KEY-MariaDB 

gpgcheck=1



